body{
    color:white;
    background-color: black;
    
}
/* NAV TAB */
.navbar{
    
    color:white;
}

/* prepare div */
.learn{
    
    color:rgb(104, 103, 103);
}

.learn h6{
    padding:0px 0px 0px 170px;
    font-family:'Poppins';
    transition: 1s;
}
.learn h4{
    padding:0px 0px 0px 170px;
    font-family:'Poppins';
    transition: 1s;
}
.learn h6:hover{
    color:white;
}
.learn h4:hover{
    color:white;
}
/* Divs */
.individual-challenge-card-v2{
    margin-bottom: 20px;
}
.content--list_header-v2{
    margin-left:50px;
    width: 80%;
    height: 100px;
    text-align: justify;
    display: flex;
    transition: 1s;
    cursor: pointer;
    border-radius: 10px;
    justify-content: space-around;
    background-color: #111621;
}
.challenge-name-details{
    width: 500px;
}
.content--list_header-v2:hover{
    background-color: #303747;
}
.content--list_header-v2 h5{
    margin-top: 20px;
    text-align: left;
    margin-left:50px;
}
.content--list_header-v2 button{
    margin-top:30px;
    border-radius: 10px;
    height: 40px;
    width: 150px;
    background-color: #111621;
    color:white;
    transition: 1s;
    border: 0.1px solid white;
}
.content--list_header-v2 button:hover{
    background-color: #303747;
}
.easy{
    font-size:13px;
    color:rgb(121, 197, 121);
}
.mod{
    font-size:13px;
    color:rgb(250, 116, 71);
}
/* FOOTER */
.foot p{
    font-size: 20px;
}
.foot a{
    text-decoration: none;
    color:grey;
    text-align: center;
    transition: 1s;
}
.foot a:hover{
    color:white;
}
.foot span{
    margin:0px 27.4% 0px 20px;
    font-size: 13px;
}
.hidden{
    opacity: 0;
    color:aliceblue;
    transition: all 3s;
}
.show{
    opacity: 1;
}
